<div id="content">
	<hr class="separator-1"/>

    <div id="library-tools">
        <div id="search">
            <form id="search-form">
                <input type="search" placeholder="Search documents" />
            </form>
        </div>
        <div id="display-buttons">
            <span class="icon-icons" ng-click="clase = 'icons'"></span>
            <span class="icon-menu" ng-click="clase = 'list'"></span>
        </div>
    </div>

	<hr class="separator-2">

	<div id="info">
		<h4>{{subtitle}} ({{elements.length}})</h4>
        <br/>
		<div ng-repeat="element in elements" ng-class="clase" class="documento-info">
			<ng-switch on="element.type">
				<div ng-switch-when="folder" ng-click="searchDocuments(element.id, element.name)">
					<div class="folder-image"></div>
					<div class="document-title">{{element.name}}</div>
				</div>
				<div ng-switch-default>
					<div class="document-image"></div>
					<div class="document-title">{{element.name}}</div>
				</div>
			</ng-switch>
		</div>
	</div>
</div>