<div id="content">
	<hr class="separator-2">

	<div id="info">
		<h4>{{subtitle}} ({{elements.length}})</h4>
        <br/>
		<section ng-repeat="element in elements" class="documento-info">
			<ng-switch on="element.type">
				<span class="folder" ng-switch-when="folder" ng-click="searchDocuments(element.id, element.name)">
					<div class="sprite-image folder-image"></div>
					<span class="document-title">FOLDER{{element.name}}</span>
				</span>
				<span ng-switch-default>
					<div class="sprite-image document-image"></div>
					<span class="document-title">DOCUMENT{{element.name}}</span>
				</span>
			</ng-switch>
		</section>
	</div>
</div>  