<div id="documentInfo" ng-controller="InfoCtrl">
	<div id="library-header">
        Digital Library
    </div>
    
    <hr class="separator-1" />
    
    <div id="info-container">
        <div class="title">Document Information</div>
        
        <div ng-show="data.documentInfo.name">Name: {{data.documentInfo.name}}</div>
    	<div ng-show="data.documentInfo.acquisitionID">Acquisition ID: {{data.documentInfo.acquisitionID}}</div>
        <div ng-show="data.documentInfo.country">Country: {{data.documentInfo.country}}</div>
        <div ng-show="data.documentInfo.creationDate">Creation Date: {{data.documentInfo.creationDate}}</div>
        <div ng-show="data.documentInfo.modified">Modified: {{data.documentInfo.modified}}</div>
        <div ng-show="data.documentInfo.modifiedBy">Modified By: {{data.documentInfo.modifiedBy}}</div>
        <div ng-show="data.documentInfo.po">Po: {{data.documentInfo.po}}</div>
        <div ng-show="data.documentInfo.pr">Pr: {{data.documentInfo.pr}}</div>
        <div ng-show="data.documentInfo.projectCode">Project Code: {{data.documentInfo.projectCode}}</div>
        <div ng-show="data.documentInfo.projectCoordinator">Project Coordinator: {{data.documentInfo.projectCoordinator}}</div>
        <div ng-show="data.documentInfo.recipient">Recipient: {{data.documentInfo.recipient}}</div>
        <div ng-show="data.documentInfo.subrecipient">Subrecipient: {{data.documentInfo.subrecipient}}</div>
        <div ng-show="data.documentInfo.referenceID">Reference ID: {{data.documentInfo.referenceID}}</div>
    </div>
</div>
