<div id="library">
    <div id="library-header">
        Digital Library
    </div>

    <hr class="separator-1">
    <div id="library-tools">
        <div id="search">
            <form id="search-form">
                <input type="search" placeholder="Search documents">
                    </form>
        </div>
        <div id="display-buttons">
            <a href="" title="Grouping View"><span class="icon-icons"></span></a>
            <a href="" title="List View"><span class="icon-menu"></span></a>
        </div>
    </div>
    <hr class="separator-1">
<div>

<div id="main-container">
    <div ng-include src="'templates/menu.html'" ng-controller='MenuCtrl'></div>
    <div ng-include src="'templates/books.html'"></div>
</div>