<div id="login" ng-controller="LoginCtrl">
	<header>
        <div id="header-wrapper">
            <h1>
                <img src="img/SecureGOV-logo.png" alt="SecureGov App" >
                SecureGOV
            </h1>
        </div>
    </header>
    <div id="login-container">
        <form id="login-form" name="form" class="css-form" novalidate>
        	<div class="message">
        		{{message}}
        	</div>
            <div id="login-user">
                <input id="login_user" name="login_user" type="password" placeholder="Passcode" pattern="\d*" ng-model="pin" autocorrect="off" autocapitalize="off" maxlength="4" required  />
                <input id="confirm_login_user" name="confirm_login_user" type="password" placeholder="Confirm Passcode" pattern="\d*" ng-model="pinConfirmation" autocorrect="off" autocapitalize="off" maxlength="4" ng-show="newPin" required />
            </div>
            <div id="button-container">
                <div id="save-btn" class="button button-orange" ng-click="savePin()" ng-show="newPin">Save Passcode</div>
                <div id="login-btn" class="button button-orange" ng-click="login(pin)" ng-hide="newPin"><span class="icon-lock"></span>Login</div>
            </div>
            <div class="errorMessage">
        		{{errorMessage}}
        	</div>
        </form>
    </div>
</div>
