<div id="login" ng-controller="LoginCtrl" data-ng-init="changeBackground()">
	<header>
        <div id="header-wrapper">
            <h1>
                Digital <span class="text-bold">Library</span>
            </h1>
        </div>
    </header>
    <div id="login-container">
        <form id="login-form" name="form" class="css-form" novalidate>
            <div id="login-user">
                Username:
                <input type="text" id="login_user" name="login_user" ng-model="user.username" autocorrect="off" autocapitalize="off" required />
            </div>
            <div id="login-pass">
                Password: <input type="password" id="login_pass" name="login_pass" ng-model="user.password" required />
            </div>
            <button ng-click="login(user)">Login</button>
        </form>
    </div>
</div>
