<div class="login" ng-controller="LoginCtrl">
	<div id="header-wrapper">
        <h1>
            Digital <span class="text-bold">Library</span>
        </h1>
    </div>
	<form name="form" class="css-form" novalidate>
		Username: <input type="text" id="login_user" name="login_user" ng-model="user.username" autocorrect="off" autocapitalize="off" required /><br />
		Password: <input type="password" id="login_pass" name="login_pass" ng-model="user.password" required /><br />
		<button ng-click="login(user)">Login</button>
	</form>
</div>
