UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib
.DS_Store
xcuserdata/
DigitalLibrary.xcodeproj/project.xcworkspace/xcshareddata/DigitalLibrary.xccheckout

SecureGOV.xcodeproj/project.pbxproj

SecureGOV.xcodeproj/xcuserdata/guicho.xcuserdatad/xcschemes/xcschememanagement.plist

SecureGOV.xcodeproj/xcuserdata/guicho.xcuserdatad/xcschemes/xcschememanagement.plist
