.bookshelf-row{
    background-image: url(../img/bookshelf_row.jpg);
    background-size:  100% 100%;
    padding: 50px;
}

.book{
    background: none;
    border: none;
    vertical-align: central;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    min-width: 300px;
    min-height: 300px;
    max-width: 200px;
    padding: 30px 35px 30px 55px;
    background-image: url(../img/book_gray_small.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
}